.tamañoBoton{
    width: 180px;
    height: 90px;
    border: 2px solid black;
    margin: 20px 100px 0 100px;
}

.btn-hover-animate{
    transition: all 0.3s ease;
}

.btn-hover-animate:hover{
    border: 2px solid slateblue;
    transform: translateY(-2px) scale(1.03);
}
.titulo{
    font-size: 60px;
    margin-top: 80px;
}